.form {
    width: 100%;
    margin-top: 16px;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.form-control input,
.form-control label {
    margin-left: 12px;
}

.form-control > div {
    display: flex;
    align-items: center;
}

.form-control input {
    width: 20px;
    height: 20px;
}
